html, body {
    position: absolute;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
}

.container {
    width: 800px;
    height: 400px;
    position: relative;
    margin: 100px auto 40px;
    border: 1px solid #CCC;
    -webkit-perspective: 1000px;
    overflow: hidden;
    background: -webkit-linear-gradient(#00f, #003);
}

#scene {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
}

.cube {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: top left;
}

.cube,
.cubea,
.cubeb,
.cubec,
.cubed,
.cubee {
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    /*background: rgba(255,0,0,0.7);*/
    /*background: rgba(230,230,230,0.7);*/
    /*background: rgba(230,230,230,1);*/
}

.cubea {
    top: 100px;
    left: 0;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
}

.cubeb {
    top: 0;
    left: 0;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
}

.cubec {
    top: 0;
    left: 0;
    -webkit-transform: translateZ(-100px);
}

.cubed {
    top: 0;
    left: -0;
    -webkit-transform-origin: left center;
    -webkit-transform: rotateY(90deg);
}

.cubee {
    top: 0;
    left: 100px;
    -webkit-transform-origin: left center;
    -webkit-transform: rotateY(90deg);
}

@mixin cube($width, $height, $depth, $color: #eee) {
  &      { background-color: $color; width: $width; height: $height; } /* front */
  .cubea { background-color: $color; top: $height; left: 0; width: $width; height: $depth; } /* bottom */
  .cubeb { background-color: $color; width: $width; height: $depth; } /* top */
  .cubec { background-color: $color; width: $width; top: 0; left: 0; height: $height; -webkit-transform: translateZ(-$depth); } /*back */
  .cubed { background-color: $color; left: 0; height: $height; width: $depth; } /* left */
  .cubee { background-color: $color; top: 0; left: $width; height: $height; width: $depth; } /* right */
}

#roadway1 {
    @include cube(1580px, 10px, 200px, #222);
    top: 240px;
    left: -400px;
}

#left-support {
    $left: -100px;
    @import "test3-roadway";
}

#right-support {
    $left: 700px;
    @import "test3-roadway";
}

@import "test3-cage";

#front-rope {
    $z: 0;
    @import "test3-rope";
}

#back-rope {
    $z: -200px;
    @import "test3-rope";
}

@-webkit-keyframes spin
{
    0% { -webkit-transform: translateZ(-800px) rotateX(-20deg) rotateY(0deg); }
    50% { -webkit-transform: translateZ(-800px) rotateX(-20deg) rotateY(180deg); }
    100% { -webkit-transform: translateZ(-800px) rotateX(-20deg) rotateY(359deg); }
}

#bridge {
    -webkit-animation: spin 30s linear infinite;
    -webkit-transform-style: preserve-3d;
}

@import "test3-car";